* {
  box-sizing: border-box;
}

p {
  margin: 0.2rem;
}
h1 {
  font-size: 80px;
}
.new {
background: #8f7a66;;}

button {
  border: 1px solid black;
  cursor: pointer;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f5f5; 
  color: #776e65; 

}

body.light-mode {
  background-color: #ffffff;
  color: #776e65;;
}

body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

#mode-toggle {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 1.1em;
  margin: 10px;
}
#text-container {
  width: 500px;
  margin: auto;
}
#text-container p {
  margin: 1rem;
  
}

#screen-container,
#text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#score-container,
#best-container,
button {
  background-color: #bbada0;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 4rem;
  text-align: center;
  font-size: 1.2rem;
}

#board {
  max-width: 500px;
  max-height: 500px;
  width: 90vw;
  height: 90vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  background-color: #9a8a7c;
  border-radius: 4px;
  padding: 10px;
  margin: auto;
}

.tile {
  border-radius: 3px;
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #cac0b4;
  transition: all 0.3s ease;
}

.x2 {
  background-color: #f5deb3;
  color: #666;
}
.x4 {
  background-color: #f0e68c;
  color: #666;
}
.x8 {
  background-color: #d3d3d3;
  color: #fff;
}
.x16 {
  background-color: #87cefa;
  color: #fff;
}
.x32 {
  background-color: #00bfff;
  color: #fff;
}
.x64 {
  background-color: #1e90ff;
  color: #fff;
}
.x128 {
  background-color: #ff69b4;
  color: #fff;
}
.x256 {
  background-color: #ff1493;
  color: #fff;
}
.x512 {
  background-color: #ff00ff;
  color: #fff;
}
.x1024 {
  background-color: #9400d3;
  color: #fff;
}

.x2048 {
  background-color: #4b0082;
  color: #fff;
}
.x4096 {
  background-color: #800000;
  color: #fff;
}
.x8192 {
  background-color: #8b0000;
  color: #fff;
}
#message {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 196, 6, 0.687);
  margin: auto;
  width: 90vw;
  height: 45vw;
  max-width: 500px;
  max-height: 250px;
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
}

#buttons {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message p,
#message button {
  margin: 30px;
  color: white;
  font-size: 1.5rem;
}

footer {
  margin: 3rem;
}
