* {
  box-sizing: border-box;
}

p {
  margin: .2rem;
}

button {
  border: 1px solid black;
  cursor: pointer;
}

body {
  background-color: bisque;
}

button:active {
  animation: flash 0.2s;
}

@keyframes flash {
  from { border-color: inherit; }
  to { border-color: #fff; }
}


#text-container p {
  margin: 1rem;
}
#screen-container, #text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#score-container, #best-container, button {
  background-color: rgb(32, 181, 218);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  margin: 2rem .5rem;
  border: none;
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 1.2rem;
}



#board {
  max-width: 500px;
  max-height: 500px;
  width: 90vw;
  height: 90vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  background-color: #9a8a7c;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.tile {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1ad9d;
  font-size: 2rem;
}



.x2 {
background-color: #f5deb3;
color: #666;
}
.x4 {
background-color: #f0e68c;
color: #666;
}
.x8 {
background-color: #d3d3d3;
color: #fff;
}
.x16 {
background-color: #87cefa;
color: #fff;
}
.x32 {
background-color: #00bfff;
color: #fff;
}
.x64 {
background-color: #1e90ff;
color: #fff;
}
.x128 {
background-color: #ff69b4;
color: #fff;
}
.x256 {
background-color: #ff1493;
color: #fff;
}
.x512 {
background-color: #ff00ff;
color: #fff;
}
.x1024 {
background-color: #9400d3;
color: #fff;
}
.x2048 {
background-color: #4b0082;
color: #fff;
}
.x4096 {
background-color: #800000;
color: #fff;
}
.x8192 {
background-color: #8b0000;
color: #fff;
}
#message {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 196, 6, 0.687);
  margin: auto;
  width: 90vw;
  height: 45vw;
  max-width: 500px;
  max-height: 250px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* or any higher number than the z-index of other elements */
}

#buttons {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message p,
#message button {
  margin: 30px;
  color: white;
  font-size: 1.5rem;
}


footer {
  margin: 3rem;
}
